<p>
    Aujourd'hui, seules les connexions à l'aide de Facebook et Google sont possibles.
</p>
<p>
    <i>N'ayez crainte, l'application n'utilise pas vos données personnelles.</i>
</p>
<br>
<center>
    <a class="btn btn-primary" style="background-color: rgb(66, 103, 178);" href="/auth/facebook"><i class="fab fa-facebook-l"></i> Se connecter avec Facebook</a>
    <a class="btn btn-primary" style="background-color: rgb(219, 68, 55);" href="/auth/google">ou avec Google <i class="fab fa-google"></i></a>
</center>
